<!--Pulling Awesome Font -->
<div class="container" style="padding: 25px;
    position: fixed;">
	<div class="row">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-md-offset-5 col-md-3">
			<div class="form-login" style="background-color: white; padding-top: 10px; padding-bottom: 20px; padding-left: 20px;
    padding-right: 20px; border-radius: 15px; border-color:#d2d2d2; border-width: 5px; box-shadow:0 1px 0 #cfcfcf;">
				<h4 style="border:0 solid #fff; border-bottom-width:1px; padding-bottom:10px; text-align: center;">Welcome Back.</h4>
				<input type="text" id="userName" ng-model="user.username" class="form-control input-sm chat-input" style="border-radius: 10px;" placeholder="username" />
				</br>
				<input type="Password" id="userPassword" ng-model="user.password" class="form-control input-sm chat-input" style="border-radius: 10px;" placeholder="password" />
				</br>
				<div class="wrapper" style="text-align: center;">
					<span class="group-btn">
                <a href="#" class="btn btn-primary btn-md" ng-click="userlogin(user)">login <i class="fa fa-sign-in"></i></a>
            </span>
				</div>
			</div>

		</div>
	</div>
</div>
